:root {
    --textcolor: #ffffff;
    --texthighlight: #a0a0a0;
    --backgroundcolor: #121212;
    --neonpink: #F72585;
    --darkpink: #B5179E;
    --teal: #7209B7;
    --bluebasic: #560BAD;
    --bluedarker: #480CA8;
    --bluedark: #3A0CA3;
    --blueocean: #3F37C9;
    --blueday: #4361EE;
    --bluelight: #4895EF;
    --bluehighlight: #4CC9F0;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: FutureLight;
    src: url(../FONTS/NEON\ ABSOLUTE\ SANS1.ttf);
}


.pagecontent {
    content: "";
    position: absolute;
    bottom: -100px;
    height: 200px;
    left: 0;
    width: 100%;
    background: linear-gradient(to bottom, transparent, #121212 50%);
    margin-top: 100px;
}

.space {
    height: 60em;
    padding-left: 15%;
    padding-right: 15%;
    background-color: var(--backgroundcolor);
    background-image: url("../IMG/1920x.png");
    background-repeat: no-repeat;
    background-image: linear-gradient();  
    background-size: stretch;
    animation: AnimateBG 5s ease infinite;
      }
    /* animating the background */
      @keyframes AnimateBG { 
        0%{background-position:0% 50%}
        25%{background-position: 50% 35%}
        50%{background-position:100% 40%}
        75%{background-position: 5% 45%}
        100%{background-position:0% 50%}
      }

      @media (max-width: 800px) {
        .space {
            animation: none;
            background: none;
            background-color: var(--backgroundcolor);
        }
    }

div.content-inner {
    font-size: 13pt;
    color: #333;
    line-height: 1.40em;
    padding: 50px 20px;
    margin: 0px auto;
    display: block;
    
}

@media (max-width: 768px) {
    div.content-inner {
        width: 80%;
        text-align: justify;
        padding: 20px 0px;
    }
}

@media (max-width: 595px) {
    .space{
        padding-left: 0;
        padding-right: 0;
    }
}
@media (max-width: 550px) {
    .space{
        padding-left: 0;
        padding-right: 0;
    }
}
/*_____________________*/
/* S C R O L L   B A R */
::-webkit-scrollbar {
    width: 10px;
    background-color: var(--backgroundcolor);
}

::-webkit-scrollbar-thumb {
    width: 5px;
    background-color: var(--bluehighlight);
    box-shadow:
        0 0 7px rgb(0, 102, 255),
        0 0 10px rgb(0, 153, 255),
        0 0 21px rgb(12, 161, 247),
        0 0 42px rgb(116, 225, 252),
        0 0 82px rgb(109, 226, 255),
        0 0 92px rgb(145, 229, 255),
        0 0 102px rgb(155, 223, 255),
        0 0 151px rgb(149, 225, 255);
}
/*________________________________________________________________________________*/
/*                              N E O N   L O G O                                 */


.neontext {
    color: rgb(193, 246, 255);
    animation: flicker 5s infinite alternate;
    padding-top: 3%;
    }

@keyframes flicker {

    0%,
    18%,
    22%,
    25%,
    53%,
    57%,
    100% {
        text-shadow:
            0 0 7px rgb(0, 4, 255),
            0 0 10px rgb(30, 52, 248),
            0 0 21px rgb(45, 76, 252),
            0 0 42px rgb(116, 129, 252),
            0 0 82px rgb(131, 118, 250),
            0 0 92px rgb(145, 229, 255),
            0 0 102px rgb(155, 223, 255),
            0 0 151px rgb(149, 225, 255);
    }

    20%,
    24%,
    55% {
        text-shadow: none;
    }
}
.neon-wrapper {
    box-shadow:
    0 0 0.1vw  0.4vw #f8f7ff,   
    0 0 0.4vw  0.6vw #8c72e9, 
    0 0   4vw  0.4vw #330be5,
    inset 0 0 1.5vw  0.4vw #0b1ae5,
    inset 0 0 0.4vw  0.2vw #9272e9,
    inset 0 0 0.5vw  0.2vw #f9f7ff;
    border-radius: 1.5rem;
    margin-left: 20em;
    margin-right: 20em;
  }



.logo {
    font-family: FutureLight;
    font-weight: 200;
    letter-spacing: 15px;
    font-size: 5rem;
    text-decoration: none;
    display: flex;
    justify-content: center;
    margin-top: 3em;
    align-items: center;
}
/* P A R A L L A X    L O G O    S C A L I N G */ 

/*vím že to je strašný dělat to pomocí @media ale funguje to a lepší způsob mě nenapadl*/

@media (max-width: 1900px) {
    .logo{
        font-size: 4em;
    }
}

@media (max-width: 1700px) {
    .logo{
        font-size: 3em;
    }
    .neon-wrapper{
        margin-top: 20%;
    }
}
@media (max-width: 1400px) {
    .neon-wrapper{
        margin-top: 20%;
        margin-left: 15%;
        margin-right: 15%;
    }
}
@media (max-width: 1200px) {
    .neon-wrapper{
        margin-top: 28%;
        margin-left: 12%;
        margin-right: 12%;
    }
}
@media (max-width: 1000px) {
    .neon-wrapper{
        margin-top: 32%;
        margin-left: 10%;
        margin-right: 10%;
    }
}
@media (max-width: 900px) {
    .neon-wrapper{
        margin-top: 35%;
        margin-left: 10%;
        margin-right: 10%;
    }
    .logo{
        font-size: 2.5em;
        text-align: center;
    }
}
@media (max-width: 500px) {
    .neon-wrapper{
        margin-top: 40%;
        margin-left: 10%;
        margin-right: 10%;
    }
    .logo{
        font-size: 2.5em;
        text-align: center;
    }
}
@media (max-width: 420px) {
    .neon-wrapper{
        margin-top: 40%;
        margin-left: 10%;
        margin-right: 10%;
    }
    .logo{
        font-size: 2em;
        text-align: center;
    }
}
@media (max-width: 350px) {
    .neon-wrapper{
        margin-top: 40%;
        margin-left: 10%;
        margin-right: 10%;
    }
    .logo{
        font-size: 1.8em;
        text-align: center;
    }
}
@media (max-width: 300px) {
    .neon-wrapper{
        margin-top: 40%;
        margin-left: 10%;
        margin-right: 10%;
    }
    .logo{
        font-size: 1.5em;
        text-align: center;
    }
}

/*________________________________________________________________________________*/
/*                                 𝗡 𝗔 𝗩 𝗕 𝗔 𝗥                                   */

nav {
    display: flex;
    justify-content: center;
}

.nav-links {
    font-size: 1.5em;
    align-items: center;
    display: inline;
    padding: 0px 20%;
}

.nav-link {
    text-decoration: none;
    color: white;
}

.active {
    text-shadow:
    0 0 7px rgb(0, 4, 255),
    0 0 10px rgb(30, 52, 248);
}

.nav-link:hover{
    text-shadow:
    0 0 7px rgb(0, 4, 255),
    0 0 10px rgb(30, 52, 248);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    padding: 8px;
}
@media (max-width: 1200px) {
    .nav-links{
        font-size: 1.5em;
        padding: 0px 0%;
    }
}
@media (max-width: 810px) {
    .nav-links{
        font-size: 1.3em;
        padding: 0px 0%;
    }
}
@media (max-width: 740px) {
    .nav-links{
        padding: 0px 0%;
    }
}
@media (max-width: 450px) {
    .nav-links{
        padding: 0px 0%;
    }
}
@media (max-width: 420px) {
    .nav-links{
        padding-left: 15%;
        padding-right: 15%;
    }
}
@media (max-width: 300px) {
    .nav-links{
        padding: 0px 15%;
        justify-content: center;
        text-align: end;
    }
}

/*________________________________________________________________________________*/
/*                        J U M B O T R O N S                                     */

.jumbospace{
    padding: 3%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

/* Jumbotron flicker animation */
@keyframes jumboflicker {

    0%,
    18%,
    22%,
    25%,
    53%,
    57%,
    100% {
        box-shadow:
        0 0 0.1vw  0.4vw #f8f7ff,   
        0 0 0.4vw  0.6vw #8c72e9, 
        0 0   4vw  0.4vw #330be5,
        inset 0 0 1.5vw  0.4vw #0b1ae5,
        inset 0 0 0.4vw  0.2vw #9272e9,
        inset 0 0 0.5vw  0.2vw #f9f7ff;
    }

    20%,
    24%,
    55% {
        box-shadow: none
    }
}

/* MEDIUM JUMBOTRON */
.jumbotron-m{
    display: flex;
    margin: 1%;
    padding: 5%;
    border-color: var(--bluehighlight);
    border-radius: 15px;
    border-width: 5px;
    border: var(--blueday);
    background-color: var(--backgroundcolor);
    border-style: solid;
    text-align: justify;
    flex-basis: 35%;
    height: 15%;
    animation: jumboflicker 5s infinite alternate;
}
/* LARGE JUMBOTRON */
.jumbotron-l{
    display: block;
    margin: 1%;
    padding: 5%;
    margin-top: 2%;
    border-color: var(--bluehighlight);
    border-radius: 15px;
    border-width: 5px;
    border: var(--blueday);
    background-color: var(--backgroundcolor);
    border-style: solid;
    text-align: justify;
    flex-basis: 85%;
    height: 15%;
    animation: jumboflicker 5s infinite alternate;
}

.regular-text{
    color: var(--textcolor) !important;
}

/* JUMBOTRON SIZING */
@media (max-width: 800px) {
    .jumbospace{
        padding: 5%;
        flex-direction: column;
    }
    .jumbotron-m
    {
        width: 90%;
    }
}
/*       Nadpisy a text properties */
h1{
    color: var(--blueday);
}
h2{
    color: var(--bluehighlight)
}
p{
    color: var(--textcolor);
}
.source{
    color: var(--textcolor);
    text-decoration: none;
    padding: 0;
}
.source:before{
    content: "• ";
}
.sources{
    display: flex;
    flex-direction: column;
}
.italics{
    font-style:italic;
    color: var(--texthighlight);
}
/*                                 A R R O W S                                  */
.arrow{
      position: absolute;
      top: 60%;
      left: 50%;
      transform: translate(-50%,-50%);
  }
  .arrow span{
      display: block;
      width: 30px;
      height: 30px;
      border-bottom: 5px solid var(--bluehighlight);
      border-right: 5px solid var(--bluehighlight);
      transform: rotate(45deg);
      margin: -10px;
      animation: animate 3s infinite;
  }
  .arrow span:nth-child(2){
      animation-delay: -0.2s;
  }
  .arrow span:nth-child(3){
      animation-delay: -0.4s;
  }
  @keyframes animate {
      0%{
          opacity: 0;
          transform: rotate(45deg) translate(-20px,-20px);
      }
      50%{
          opacity: 1;
      }
      100%{
          opacity: 0;
          transform: rotate(45deg) translate(20px,20px);
      }
  }